<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>seo analysis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
	th {
		cursor: pointer;
	}
	td{
		word-break:break-word;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<img src="img/SeoAnalyzerLogo.png" alt="" class="dark-logo" />
			<h1>SEO Inspection Results for <br> {{result['inspected_site']}}</h1>
		</div>

		{%if result['fatal_error']%}
		<p>There was a fatal error when trying to format the output file as a webpage. Confirm that there is an output.json file in the directory.
			{% else %}
			<p>total time: {{result['total_time']|round(2)}} seconds </p>

			<div>
				<h3>go to:</h3> <a href="#sitemap-section">Sitemap analysis</a> &nbsp; <a href="#page-section">Page analysis</a></li> &nbsp; <a href="#semantic-section">Semantic analysis</a></li>
			</div>

			<br><br>

			{% if result['errors']%}
			<h2>Errors:</h2>
			<ul>
				{% for e in result['errors'] %}
				<li>{{e}}</li>
				{% endfor %}
			</ul>
			{% endif %}

		{% if result['ssl_report'] %}
		<h2 id="ssl-section">SSL Report:</h2>
		<br>
		<table>
			<thead>
				<tr>
					<th>URL</th>
					<th>Status</th>
					<th>Message</th>
					<th>Certificate Subject</th>
					<th>Issuer</th>
					<th>Valid From</th>
					<th>Valid To</th>
				</tr>
			</thead>
			<tbody>
				{% for inspection in result['ssl_report'] %}
				<tr>
					<!-- URL -->
					<td>{{ inspection.url }}</td>
					
					<!-- Status -->
					<td>{{ inspection.status }}</td>
					
					<!-- Message -->
					<td>{{ inspection.message }}</td>
					
					<!-- Certificate Subject -->
					<td>
						{% if inspection.details and inspection.details.certificate_subject %}
							{{ inspection.details.certificate_subject | join(', ') }}
						{% else %}
							N/A
						{% endif %}
					</td>
					
					<!-- Issuer -->
					<td>
						{% if inspection.details and inspection.details.issuer %}
							{{ inspection.details.issuer | join(', ') }}
						{% else %}
							N/A
						{% endif %}
					</td>
					
					<!-- Valid From -->
					<td>
						{% if inspection.details and inspection.details.valid_from %}
							{{ inspection.details.valid_from }}
						{% else %}
							N/A
						{% endif %}
					</td>
					
					<!-- Valid To -->
					<td>
						{% if inspection.details and inspection.details.valid_to %}
							{{ inspection.details.valid_to }}
						{% else %}
							N/A
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		
		
		{% endif %}
		
		{% if result['sitemap'] %}
			<h2 id="sitemap-section">Robots and Sitemap analysis:</h2>
			<br>

			{% if result['sitemap']['errors'] %}
			<h3>Errors:</h3>
			<ul>
				{% for e in result['sitemap']['errors'] %}
				<li>{{e}}</li>
				{% endfor %}
			</ul>
			{% endif %}

			{% if result['duplicate_pages'] %}
			<h3>Duplicate pages:</h3>
			<div class="table-responsive">
				<table id="duplicate-pages" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Original Page</th>
							<th>Duplicate Pages</th>
						</tr>
					</thead>
					<tbody>
						{% for group in result['duplicate_pages'] %}
						<tr>
							<!-- Prima colonna: URL originale -->
							<td><a href="{{ group[0] }}" target="_blank">{{ group[0] }}</a></td>
							
							<!-- Seconda colonna: URL duplicati -->
							<td>
								{% if group[1:] %}
									<ul>
									{% for duplicate in group[1:] %}
										<li><a href="{{ duplicate }}" target="_blank">{{ duplicate }}</a></li>
									{% endfor %}
									</ul>
								{% else %}
									<p>No duplicates found.</p>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}

			{% if result['sitemap']['robots_content'] %}
			<div id="robots-content">
				<h3>Robots.txt Content</h3>
				<p>
					{{ result['sitemap']['robots_content'].replace('\n', '<br>').lstrip()|safe }}
				</p>
			</div>
			{% endif %}


			{% if result['sitemap']['incoherent_structure']['only_in_urls'] or  result['sitemap']['incoherent_structure']['only_in_locs']%}
			<div id="incoherent_structure">
				<br>
				<h3>Incoherent Structure</h3>
				{% if result['sitemap']['incoherent_structure']['only_in_urls'] %}
				<p><strong>Only Site Structure:</strong></p>
				<ul>
					{% for url in result['sitemap']['incoherent_structure']['only_in_urls'] %}
						<li>{{ url }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if result['sitemap']['incoherent_structure']['only_in_locs'] %}
				<p><strong>Only Sitemap.xml:</strong></p>
				<ul>
					{% for url in result['sitemap']['incoherent_structure']['only_in_locs'] %}
						<li>{{ url }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			{% endif %}

		{% endif %}

		{% if result['pages'] %}
			<h2 id="page-section">Page analysis:</h2>
			<input type="button" value="hide all notices " onclick="toggleDetail()" class="btn btn-info" id="ebutton">

			<div class="table-responsive">
				<table id="pages" class="table table-striped table-hover">
					<thead>
						<tr>
							<th></th>
							<th>page</th>
							<th>word count</th>
							<th>number of notices</th>
						</tr>
					</thead>
			
					<tbody>
					{% for page in result['pages'] %}
					{% set outer_loop = loop %}
					<tr onclick="fullerrors({{outer_loop.index}})">
						<td><i class="material-icons" id="i{{ outer_loop.index }}">keyboard_arrow_down</i></td>
						<td><a href="{{ page['url'] }}" target="_blank">{{ page['url'] }}</a></td>
						<td>{{ page['word_count'] }}</td>
						<td>{{ page["warnings"]|length }}</td>
					</tr>

					<tr id="{{ outer_loop.index }}" class="error-detail">
						<td colspan="4">
							<p><u>Title tag:</u> {{ page["title"] }}</p>
							<p><u>Description tag:</u> {{ page["description"] }}</p>
							<p><u>Is page Mobile Friendly:</u> {{ page["is_mobile_friendly"] }}</p>
							<p><u>Detected language:</u> {{ page["page_language"] }}</p>
							<ul>
								{% for err in page["warnings"] %}
								<li>{{ err|e }}</li>
								{% endfor %}
							</ul>
							<!-- Tabella per le keyword e i punteggi TF-IDF -->
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Keyword</th>
										<th>TF-IDF Score</th>
									</tr>
								</thead>
								<tbody>
									{% for keyword in page["nlp_keywords"] %}
									<tr>
										<td>{{ keyword.word }}</td>
										<td>{{ keyword.score }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			

			{% endif %}
			<br>
			<h2 id="semantic-section">Semantic analysis</h2>
			<div id="semantic-similitude">
				<h3>Semantic Similitude</h3>
				<img src="{{ result['heatmap_path'] }}" alt="Similarity Heatmap">
			</div>

			<div id="semantic-similitude">
				<h3>Keyword Graph</h3>
				<img src="{{ result['graph_path'] }}" alt="Keyword Graph">
			</div>


			<div id="semantic-clusters">
				<h3>Keyword Clusters</h3>
				<img src="{{ result['cluster_path'] }}" alt="Cluster Graph">
			</div>


			<div id="trigrams">
				<!-- Tabella per le keyword e i punteggi TF-IDF -->
				<h3>Trigrams</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Trigram</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{% for element, count in result['trigrams'] %}
						<tr>
							<td>{{ element }}</td>
							<td>{{ count }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div id="digrams">
				<!-- Tabella per le keyword e i punteggi TF-IDF -->
				<h3>Digrams</h3>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Digram</th>
							<th>Count</th>
						</tr>
					</thead>
					<tbody>
						{% for element, count in result['digrams'] %}
						<tr>
							<td>{{ element }}</td>
							<td>{{ count }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			{% endif %}
		</div>
	</body>
	</html>
