<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>seo analysis</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
	th {
		cursor: pointer;
	}
	td{
		word-break:break-word;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="page-header">
			<img src="img/SeoAnalyzerLogo.png" alt="" class="dark-logo" />
			<h1>SEO Inspection Results for <br> {{result['inspected_site']}}</h1>
		</div>

		{%if result['fatal_error']%}
		<p>There was a fatal error when trying to format the output file as a webpage. Confirm that there is an output.json file in the directory.
			{% else %}
			<p>total time: {{result['total_time']|round(2)}} seconds </p>
			<div>
				<h2>go to:</h2>
				<ul>
					<li><a href="#sitemap-section">Sitemap analysis</a></li>
					<li><a href="#page-section">Page analysis</a></li>
				</ul>
			</div>

			{% if result['errors']%}
			<h2>Errors:</h2>
			<ul>
				{% for e in result['errors'] %}
				<li>{{e}}</li>
				{% endfor %}
			</ul>
			{% endif %}

		
		{% if result['sitemap'] %}
			<h2 id="sitemap-section">Robots and Sitemap analysis:</h2>
			<br>

			{% if result['sitemap']['errors'] %}
			<h3>Errors:</h3>
			<ul>
				{% for e in result['sitemap']['errors'] %}
				<li>{{e}}</li>
				{% endfor %}
			</ul>
			{% endif %}

			{% if result['duplicate_pages'] %}
			<h3>Duplicate pages:</h3>
			<div class="table-responsive">
				<table id="duplicate-pages" class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Original Page</th>
							<th>Duplicate Pages</th>
						</tr>
					</thead>
					<tbody>
						{% for group in result['duplicate_pages'] %}
						<tr>
							<!-- Prima colonna: URL originale -->
							<td><a href="{{ group[0] }}" target="_blank">{{ group[0] }}</a></td>
							
							<!-- Seconda colonna: URL duplicati -->
							<td>
								{% if group[1:] %}
									<ul>
									{% for duplicate in group[1:] %}
										<li><a href="{{ duplicate }}" target="_blank">{{ duplicate }}</a></li>
									{% endfor %}
									</ul>
								{% else %}
									<p>No duplicates found.</p>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% endif %}

			{% if result['sitemap']['robots_content'] %}
			<div id="robots-content">
				<h3>Robots.txt Content</h3>
				<p>
					{{ result['sitemap']['robots_content'].replace('\n', '<br>').lstrip()|safe }}
				</p>
			</div>
			{% endif %}


			{% if result['sitemap']['incoherent_structure']['only_in_urls'] or  result['sitemap']['incoherent_structure']['only_in_locs']%}
			<div id="incoherent_structure">
				<h3>Incoherent Structure</h3>
				<ul>
					{% for item in result.sitemap.incoherent_structure %}
						<li>
							<h2>Item {{ loop.index }}</h2>
			
							<!-- Section for 'only_in_urls' -->
							<p><strong>Only in URLs:</strong></p>
							{% if item.only_in_urls %}
								<ul>
									{% for url in item.only_in_urls %}
										<li>{{ url }}</li>
									{% endfor %}
								</ul>
							{% else %}
								<p>No URLs found in <code>only_in_urls</code>.</p>
							{% endif %}
			
							<!-- Section for 'only_in_locs' -->
							<p><strong>Only in Locs:</strong></p>
							{% if item.only_in_locs %}
								<ul>
									{% for loc in item.only_in_locs %}
										<li>{{ loc }}</li>
									{% endfor %}
								</ul>
							{% else %}
								<p>No Locs found in <code>only_in_locs</code>.</p>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}

		{% endif %}

		{% if result['pages'] %}
			<h2 id="page-section">Page analysis:</h2>
			<input type="button" value="hide all notices " onclick="toggleDetail()" class="btn btn-info" id="ebutton">

			<div class="table-responsive">
				<table id="pages" class="table table-striped table-hover">
					<thead>
						<tr>
							<th></th>
							<th>page</th>
							<th>word count</th>
							<th>number of notices</th>
						</tr>
					</thead>
			
					<tbody>
					{% for page in result['pages'] %}
					{% set outer_loop = loop %}
					<tr onclick="fullerrors({{outer_loop.index}})">
						<td><i class="material-icons" id="i{{ outer_loop.index }}">keyboard_arrow_down</i></td>
						<td><a href="{{ page['url'] }}" target="_blank">{{ page['url'] }}</a></td>
						<td>{{ page['word_count'] }}</td>
						<td>{{ page["warnings"]|length }}</td>
					</tr>
					<tr id="{{ outer_loop.index }}" class="error-detail">
						<td colspan="4">
							<p>{{ page["title"] }}</p>
							<p>{{ page["description"] }}</p>
							<ul>
								{% for err in page["warnings"] %}
								<li>{{ err|e }}</li>
								{% endfor %}
							</ul>
							<!-- Tabella per le keyword e i punteggi TF-IDF -->
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>Keyword</th>
										<th>TF-IDF Score</th>
									</tr>
								</thead>
								<tbody>
									{% for keyword in page["nlp_keywords"] %}
									<tr>
										<td>{{ keyword.word }}</td>
										<td>{{ keyword.score }}</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
			

			{% endif %}

			<!--
			{% if result['keywords'] %}
			<h2 id="keyword-section">keyword analysis:</h2>
			<div class="table-responsive">
			<table id = "keywords" class="table table-striped">
				<thead>
					<tr>
						<th class="sortable_th">keywords</th>
						<th class="sortable_th">count</th>
					</tr>
				</thead>
				<tbody>
				{% for key in result['keywords']%}
				<tr>
					<td> {{ key['word'] }} </td>
					<td> {{ key['count'] }} </td>
				</tr>

				{% endfor %}
			</tbody>
			</table>
			</div>
			-->
			{% endif %}
			{% endif %}
		</div>
	</body>
	</html>
